@import 'tailwindcss';

.pepe {
  color: #0f0f0f;
  color: #2c2a26;
  color: #1a1b1d;
  color: #261d15;
  color: #5a5852;
  color: #9a9690;
}

@theme inline {
  /* Custom Colors */

  /* Font Families */
  --font-anton: var(--font-anton);

  --font-google-sans-flex: 'Google Sans Flex', sans-serif;

  --color-ll-black-900: #0f0f0f;
  --color-ll-black-600: #2c2a26;
  --color-ll-black-600: #1a1b1d;
  --color-ll-black-300: #5a5852;
  --color-ll-black-200: #9a9690;
  --color-ll-black-orange: #261d15;
  --color-ll-black-orange: #292523;
  --color-ll-orange: #e05c1a;
  --color-ll-white: #f0ede8;
}

@custom-variant notebook {
  @media (width < 1280px) {
    @slot;
  }
}

@custom-variant tablet {
  @media (width < 1024px) {
    @slot;
  }
}

@custom-variant mobile {
  @media (width < 768px) {
    @slot;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-google-sans-flex);
  background-color: #0f0f0f;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-anton);
}

.mise-glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(245, 246, 247, 0.05);
  border: 1px solid rgba(245, 246, 247, 0.1);
}
